#
# © 2023 Snyk Limited
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
account_access_role: OrganizationAccountAccessRole
organizations_master_account_id: "123123123123"
deployment_region: us-east-1
account_org_mapping_rules:
  - org_id: 56564ed1-091c-43b6-8c17-9cfe8298fab5
    match_type: ALL
    filter:
      account_ids: ["364033979709"]
  - org_id: 234224ed1-091c-43b6-8c17-9cfe8298fab5
    match_type: ALL
    filter:
      email_patterns: ["*dev*"]
      name_patterns: ["*dev*"]
  - org_id: 234224ed1-091c-43b6-8c17-9cfe8298fab5
    match_type: DEFAULT