boto3==1.43.95
botocore==1.43.95
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
colored==2.3.2
idna==3.19
jmespath==1.1.0
mypy-extensions==1.1.0
pathspec==1.1.1
platformdirs==4.11.8
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
tomli==2.4.1
typer==0.27.2
typing_extensions==4.16.0
urllib3==2.8.0
black==26.5.1
